NEXT_PUBLIC_SUPABASE_URL=<supabase url here>
NEXT_PUBLIC_SUPABASE_ANON_KEY=<supabase anon key here>  # Get from supabase dashboard
SUPABASE_SERVICE_ROLE_KEY=<supabase service role key here>  # Get from supabase dashboard
BETTER_AUTH_SECRET=<better auth secret here>  # Generate a random secret
NEXT_PUBLIC_APP_URL=https://localhost:3000
DAILY_API_KEY=<daily api key here>