@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: Outfit, sans-serif;
  --font-mono: Fira Code, monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --radius: 0rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);
  --radius-2xl: calc(var(--radius) + 8px);
  --radius-3xl: calc(var(--radius) + 12px);
  --radius-4xl: calc(var(--radius) + 16px);
}

:root {
  --radius: 0rem;
  --background: oklch(0.9816 0.0017 247.8390);
  --foreground: oklch(0.1649 0.0352 281.8285);
  --card: oklch(1.0000 0 0);
  --card-foreground: oklch(0.1649 0.0352 281.8285);
  --popover: oklch(1.0000 0 0);
  --popover-foreground: oklch(0.1649 0.0352 281.8285);
  --primary: oklch(0.7131 0.1945 47.8834);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.4278 0.2056 316.0071);
  --secondary-foreground: oklch(1.0000 0 0);
  --muted: oklch(0.9259 0.0478 61.0610);
  --muted-foreground: oklch(0.5593 0.0446 284.8661);
  --accent: oklch(0.8023 0.1281 306.9076);
  --accent-foreground: oklch(0.1649 0.0352 281.8285);
  --destructive: oklch(0.6535 0.2348 34.0370);
  --border: oklch(0.9205 0.0086 225.0878);
  --input: oklch(0.9205 0.0086 225.0878);
  --ring: oklch(0.7131 0.1945 47.8834);
  --chart-1: oklch(0.7131 0.1945 47.8834);
  --chart-2: oklch(0.5488 0.2944 299.0954);
  --chart-3: oklch(0.4942 0.2666 298.0925);
  --chart-4: oklch(0.7038 0.2039 308.1192);
  --chart-5: oklch(0.8482 0.1402 78.1674);
  --sidebar: oklch(0.9467 0.0349 63.2306);
  --sidebar-foreground: oklch(0.1649 0.0352 281.8285);
  --sidebar-primary: oklch(0.7131 0.1945 47.8834);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.8023 0.1281 306.9076);
  --sidebar-accent-foreground: oklch(0.1649 0.0352 281.8285);
  --sidebar-border: oklch(0.9205 0.0086 225.0878);
  --sidebar-ring: oklch(0.7131 0.1945 47.8834);
  --destructive-foreground: oklch(1.0000 0 0);
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.05;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 1px 2px -3px hsl(0 0% 0% / 0.05);
  --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 1px 2px -3px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 2px 4px -3px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 4px 6px -3px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 8px 10px -3px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.13);
  --tracking-normal: 0em;
}

.dark {
  --background: oklch(0.1591 0 0);
  --foreground: oklch(0.9310 0 0);
  --card: oklch(0.1785 0.0094 317.6772);
  --card-foreground: oklch(0.9513 0.0074 260.7315);
  --popover: oklch(0.2093 0.0156 316.3010);
  --popover-foreground: oklch(0.9513 0.0074 260.7315);
  --primary: oklch(0.6281 0.1719 279.4901);
  --primary-foreground: oklch(1.0000 0 0);
  --secondary: oklch(0.7131 0.1945 47.8834);
  --secondary-foreground: oklch(0.9612 0 0);
  --muted: oklch(0.2301 0.0200 318.6518);
  --muted-foreground: oklch(0.5229 0.0150 321.9420);
  --accent: oklch(0.3075 0.0781 52.9483);
  --accent-foreground: oklch(0.9249 0 0);
  --destructive: oklch(0.6535 0.2348 34.0370);
  --border: oklch(0.2331 0.0112 319.4573);
  --input: oklch(0.2331 0.0112 319.4573);
  --ring: oklch(0.7131 0.1945 47.8834);
  --chart-1: oklch(0.7131 0.1945 47.8834);
  --chart-2: oklch(0.5488 0.2944 299.0954);
  --chart-3: oklch(0.6281 0.1719 279.4901);
  --chart-4: oklch(0.7562 0.1474 56.8192);
  --chart-5: oklch(0.9168 0.1915 101.4070);
  --sidebar: oklch(0.2301 0.0200 318.6518);
  --sidebar-foreground: oklch(0.9513 0.0074 260.7315);
  --sidebar-primary: oklch(0.6281 0.1719 279.4901);
  --sidebar-primary-foreground: oklch(1.0000 0 0);
  --sidebar-accent: oklch(0.3075 0.0781 52.9483);
  --sidebar-accent-foreground: oklch(0.9513 0.0074 260.7315);
  --sidebar-border: oklch(0.3279 0.0832 280.7890);
  --sidebar-ring: oklch(0.6281 0.1719 279.4901);
  --destructive-foreground: oklch(1.0000 0 0);
  --radius: 0rem;
  --font-sans: Outfit, sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: Fira Code, monospace;
  --shadow-color: hsl(0 0% 0%);
  --shadow-opacity: 0.05;
  --shadow-blur: 8px;
  --shadow-spread: -2px;
  --shadow-offset-x: 0px;
  --shadow-offset-y: 4px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.03);
  --shadow-xs: 0px 4px 8px -2px hsl(0 0% 0% / 0.03);
  --shadow-sm: 0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 1px 2px -3px hsl(0 0% 0% / 0.05);
  --shadow: 0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 1px 2px -3px hsl(0 0% 0% / 0.05);
  --shadow-md: 0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 2px 4px -3px hsl(0 0% 0% / 0.05);
  --shadow-lg: 0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 4px 6px -3px hsl(0 0% 0% / 0.05);
  --shadow-xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.05), 0px 8px 10px -3px hsl(0 0% 0% / 0.05);
  --shadow-2xl: 0px 4px 8px -2px hsl(0 0% 0% / 0.13);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
}